@import "tailwindcss";

:root {
  --background: #e9edc9;
  --foreground: #171717;
}

@layer base {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
  }

}

@theme {
  --color-background: #F9F9F9;
  --color-foreground: #FFFFFF;
  --color-midnight: #14151A;
  --color-orange: #FC4C01;
  --color-blue: #0369ea;
  --color-black: #1E1E1E;
  --color-border: #e5e5e5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.hero {
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #00000080;
  z-index: -1;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.btns {
  position: relative;
  overflow: hidden;
}

.btns span {
  transition: 1.25s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btns:hover .btn-text-one {
  top: -100%;
}

.btns:hover .btn-text-two {
  top: 50%;
}

